services:
    grafana:
        image: grafana/grafana:12.1.4
        container_name: grafana
        ports:
            - "3000:3000"
        environment:
            GF_INSTALL_PLUGINS: yesoreyeram-infinity-datasource
        volumes:
            - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
            - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards

    nginx:
        image: nginx:1.29.3
        container_name: nginx
        ports:
            - "8000:8000"
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf
        healthcheck:
            test: [ "CMD", "curl", "-f", "http://localhost:8000/ping/" ]
            interval: 4s

    migrations:
        command: ["crudik", "migrations", "apply"]
        restart: no
        build: .
        env_file:
            - ".env.migrations"

    api:
        container_name: api
        restart: on-failure
        command: [ "crudik", "run", "api" ]
        expose:
            - 5000
        build: .
        env_file:
            - ".env.migrations"

    db:
        container_name: db
        image: postgres:17
        env_file:
            - .env.pg
        ports:
            - 5432:5432
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U postgres" ]
            interval: 2s
        volumes:
          - ./.config/init-db.sql:/docker-entrypoint-initdb.d/init.sql
