services:
    grafana:
        image: grafana/grafana:12.1.4
        build:
            context: ../
            dockerfile: docker/grafana.Dockerfile
        restart: unless-stopped
        container_name: grafana
        ports:
            - "3000:3000"

    nginx:
        image: nginx:1.29.3
        restart: unless-stopped
        container_name: nginx
        ports:
            - "80:80"
        volumes:
            - ../.config/nginx.conf:/etc/nginx/nginx.conf
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost/ping/"]
            interval: 4s

    migrations:
        command: ["crudik", "migrations", "apply"]
        container_name: migrations
        restart: no
        build:
            context: ../
            dockerfile: docker/Dockerfile
        env_file:
            - "../.config/.env.migrations"

    api:
        container_name: api
        restart: unless-stopped
        command: ["crudik", "run", "api"]
        expose:
            - 5000
        build:
            context: ../
            dockerfile: docker/Dockerfile
        env_file:
            - "../.config/.env"
        volumes:
            - "../.config/config.toml:/etc/crudik/config.toml"

    db:
        container_name: db
        restart: unless-stopped
        image: postgres:17
        env_file:
            - ../.config/.env.pg
        ports:
            - 5432:5432
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 2s
        volumes:
            - ../.config/init-db.sql:/docker-entrypoint-initdb.d/init.sql

    vector:
        container_name: vector
        build:
            context: ../
            dockerfile: docker/vector.Dockerfile
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock

    loki:
        build:
            context: ../
            dockerfile: docker/loki.Dockerfile
        container_name: loki
        command: ["-config.file=/etc/loki/config.yaml"]
        expose:
            - "3100"
        restart: unless-stopped
