services:
    grafana:
        image: grafana/grafana:12.1.4
        build:
            context: ../
            dockerfile: docker/grafana.Dockerfile
        restart: unless-stopped
        container_name: grafana
        ports:
            - "3000:3000"

    nginx:
        image: nginx:1.29.3
        restart: unless-stopped
        container_name: nginx
        ports:
            - "80:80"
        volumes:
            - ../.config/nginx.conf:/etc/nginx/nginx.conf

    keycloak:
        image: quay.io/keycloak/keycloak:26.4.7
        command: ["start-dev"]
        restart: unless-stopped
        container_name: keycloak
        ports:
            - 8080:80
        env_file:
            - ../.config/.env.kc
        healthcheck:
            test: ['CMD-SHELL', '[ -f /tmp/HealthCheck.java ] || echo "public class HealthCheck { public static void main(String[] args) throws java.lang.Throwable { System.exit(java.net.HttpURLConnection.HTTP_OK == ((java.net.HttpURLConnection)new java.net.URL(args[0]).openConnection()).getResponseCode() ? 0 : 1); } }" > /tmp/HealthCheck.java && java /tmp/HealthCheck.java http://localhost:9000/health/live']
            interval: 5s
            timeout: 5s
            retries: 30

    oauth2-proxy:
        container_name: oauth2-proxy
        image: quay.io/oauth2-proxy/oauth2-proxy:v7.11.0-alpine
        command: ["--config=/etc/oauth2-proxy/oauth2-proxy.toml"]
        env_file:
            - ../.config/.env.oauthproxy
        ports:
            - 4180:8000
        volumes:
            - ../.config/oauth2-proxy.toml:/etc/oauth2-proxy/oauth2-proxy.toml
        healthcheck:
            test:
                [
                    "CMD",
                    "wget",
                    "--no-verbose",
                    "--tries=1",
                    "--spider",
                    "http://localhost:8000/ready",
                ]
            interval: 5s
            timeout: 10s
            retries: 3
            start_period: 2s

    redis:
        image: redis:7.0
        container_name: redis
        expose:
            - 6379
        command:
            ["redis-server", "--appendonly", "yes", "--save", "60", "10000"]
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 2s

    migrations:
        command: ["crudik", "migrations", "apply"]
        container_name: migrations
        restart: no
        build:
            context: ../
            dockerfile: docker/Dockerfile
        env_file:
            - "../.config/.env.migrations"

    api:
        container_name: api
        restart: unless-stopped
        command: ["crudik", "run", "api"]
        expose:
            - 5000
        build:
            context: ../
            dockerfile: docker/Dockerfile
        env_file:
            - "../.config/.env"
        volumes:
            - "../.config/config.toml:/etc/crudik/config.toml"
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:5000/internal/ready"]
            interval: 4s

    db:
        container_name: db
        restart: unless-stopped
        image: postgres:17
        env_file:
            - ../.config/.env.pg
        ports:
            - 5432:5432
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 2s
        volumes:
            - ../.config/init-db.sql:/docker-entrypoint-initdb.d/init.sql

    vector:
        container_name: vector
        build:
            context: ../
            dockerfile: docker/vector.Dockerfile
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock

    loki:
        build:
            context: ../
            dockerfile: docker/loki.Dockerfile
        container_name: loki
        command: ["-config.file=/etc/loki/config.yaml"]
        expose:
            - "3100"
        restart: unless-stopped
