services:
    grafana:
        extends:
            file: docker-compose.base.yml
            service: grafana
        volumes:
            - grafana_data:/var/lib/grafana
        depends_on:
            - nginx

    nginx:
        extends:
            file: docker-compose.base.yml
            service: nginx
        depends_on:
            api:
                condition: service_healthy

    migrations:
        extends:
            file: docker-compose.base.yml
            service: migrations
        depends_on:
            db:
                condition: service_healthy

    api:
        extends:
            file: docker-compose.base.yml
            service: api
        depends_on:
            db:
                condition: service_healthy
            migrations:
                condition: service_completed_successfully

    db:
        extends:
            file: docker-compose.base.yml
            service: db
        volumes:
            - pg_data:/var/lib/postgresql/data/

    vector:
        extends:
            file: docker-compose.base.yml
            service: vector

    loki:
        extends:
            file: docker-compose.base.yml
            service: loki
        volumes:
            - loki_data:/loki

volumes:
    pg_data:
    grafana_data:
    loki_data:
